@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h4>List of Employees</h4>

<form method="post">
    <div class="row">
        <div class="col-3"><input type="text" placeholder="Search here..." class="form-control" id="txtSearch" asp-for="Search" maxlength="80" style="width:300px;" autocomplete="off"/></div>
        <div class="col-9"><input type="submit" value="Search" asp-page-handler="SearchEmployee" /></div>
    </div>
</form>
<hr />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Department</th>
            <th scope="col" colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Employee in Model.Employees)
        {
            <tr>
                <td> @Employee.FirstName @Employee.LastName</td>
                <td> @Employee.Email</td>
                <td>@Employee.Phone</td>
                <td>@Employee.DepartmentName</td>
                <td>                    
                    <a class="btn btn-success" asp-page="/Employee/Edit" asp-route-ID="@Employee.ID">Edit</a>                    
                </td>
                <td>
                    <form method="post" onsubmit="return confirm('Are you sure?');">
                        <input type="submit" class="btn btn-danger" value="Delete" asp-page-handler="DeleteEmployee" asp-route-ID="@Employee.ID" />
                    </form>
                </td>
            </tr>
        }
        @if (Model.Employees.Count == 0)
        {
            <tr>
                <td colspan="6">
                    No employee data is available!
                </td>
            </tr>
        }
    </tbody>
</table>